@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: black;
  background-image: url(assets/Focus.png);
  background-repeat: no-repeat;

  color: white;
}
.navbar {
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  background-color: #5e5757;
  display: flex;
  justify-content: space-between;
  color: white;
 
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.9;
}

.navbar_1 {
  font-size: 1.2rem;
  font-weight: 400;
}

.navbar_2 button {
  height: 28px;
  width: 144px;
  border-radius: 8.8px;
  border: 1px solid white;
}

.aboutme {
  background-color: transparent;
  color: white;
}
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 40vh;
}

.section__pic-container {
  display: flex;
  height: 200px;
  margin: auto 0;
}

.section__text {
  margin: auto 0;
  margin: auto;
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.name {
  font-weight: 700;
}
.title {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.knowme {
  color: white;
}

.knowme {
  font-size: 1.2rem;
  font-weight: 400;
  padding-left: 90px;
}

.Skills {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box_1 {
  height: 212px;
  width: 317px;
  border: 1.2px solid white;
  border-radius: 32px;
  margin-top: 20px;
  backdrop-filter: blur(10px);
}

.box_1:hover {
  transform: scale(1.02);
}
.title_name {
  text-align: center;
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}

.title_desc {
  font-weight: 300;
  font-size: 0.7rem;
  text-align: center;
  opacity: 0.7;
  margin-top: 5px;
}

.title_img0 img {
  display: block;
  margin: 0 auto;
  width: 120px; /* Adjust the size of the image */
  height: auto;
  margin-top: 5px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin: 0;
}

.container {
  text-align: center;
  color: #fff; /* White text color for contrast */
}

.avatar {
  width: 100px; /* Adjust size as needed */
  border-radius: 50%;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 30px;
  font-size: 1rem;
  font-weight: 200;
  padding-left: 15px;
  padding-right: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: white;
}

.social-icons img {
  width: 40px; /* Adjust size as needed */
}

.social-icons i {
  width: 40px;
  font-size: 1.6rem;
  color: white;
}

.title_img1 {
  width: 317px;
  height: 120px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  margin-bottom: 20px;
}

.title_img2 {
  height: 90px;
  width: 150px;
  margin-left: 14px;
}

.title_img2 > img {
  border-radius: 10px;
}

.title_img3 {
  margin-top: 49px;
  height: 100%;
  margin-left: 10px;
}
.title_img3 > img {
  padding-top: 45;
  height: 180px;
  width: 301px;
  margin-top: -75px;
  margin-left: -4px;
}

.title_img4 {
  height: 90px;
  width: 250px;
  padding: 35px;
  margin-top: -20px;
  margin-left: 6px;
}

.title_img5{
  height: 90px;
  width: 250px;
  padding: 35px;
  margin-top: -43px;
  margin-left: 35px;
  z-index: -1;
}
.title_img5 img{
  height: 160px;
}